VITE_API_URL=http://localhost:5000/api
VITE_RESTAURANT_NAME=Zaika Restaurant
VITE_RESTAURANT_PHONE=+91 70000 00000
VITE_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=...
VITE_RAZORPAY_KEY_ID=
